/** Mobile menu */
img#mobile-menu-button {
    display: block;
}

img#header-logo {
    display: none;
}

img#header-logo-mobile {
    display: inline;
}

div#menu-container {
    justify-content: space-between;
    width: 100%;
}

div#menu-outer-container {
    position: fixed;
}

div#nav-menu-main {
    display: none;
    opacity: 0;

    flex-flow: column;
    flex: 1 1 auto;
    background-color: whitesmoke;
    height: 100%;
    position: fixed;
    top: var(--nav-menu-height);
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
}

ul#nav-main-menu {
    padding: 5rem;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

li.menu-item {
    margin: 0;
}

li.menu-item > a {
    font-size: x-large;
    padding: 2rem 10rem;
}

/* Content */
div#content-container {
    width: 100%;
    padding: 0;
}

.content-box {
    padding: 5rem 5rem;
}

.content-box.hero {
    top: -20vw;
}

.hero-header-image {
    top: 4vw !important;
}

.hero-header-text {
    width: 100%;
}

/* About page */
div#about-page-container {
    display: table;
}

.child-page {
    height: revert;
}

.child-page-image {
    float: revert !important;
    width: 100%;
    height: 50vh;
}

.child-page-excerpt {
    max-width: 100%;
    padding: 2rem 0;
    text-align: center;
}

/* Projects */
.project-card {
    min-width: 100%;
}

.project-card-image {
    height: 45vw;
}

a.project-link {
    white-space: nowrap;
}

/* Contact */
div#contact-form {
    width: 100%;
    float: revert;
}

.volunteer-quotes-container {
    float: revert;
    width: 100%;
}

/* Carousel */
.fcab-carousel-container {
    background-color: whitesmoke;
    border-radius: 1rem;
}

.fcab-carousel {
    overflow-x: scroll !important;
}

.fcab-carousel-prev-button,
.fcab-carousel-next-button {
    display: none;
}

.fcab-carousel-item-wrapper {
    width: revert;
}

.fcab-carousel-item {
    opacity: 1;
    min-width: revert;
    margin: 1rem;
}
