/** Mobile menu */
img#mobile-menu-button {
    display: block;
}

img#header-logo {
    display: none;
}

img#header-logo-mobile {
    display: inline;
}

div#menu-container {
    justify-content: space-between;
    width: 100%;
}

div#menu-outer-container {
    position: fixed;
    top: 75px;
    left: 0;
    height: 100%;
    display: none;
    opacity: 0;
    flex-flow: column;
}

div#nav-menu-main {
    flex: 1 1 auto;
    background-color: white;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

ul#nav-main-menu {
    padding: 0;
    display: table;
    width: 100%;
}

li.menu-item {
    position: relative;
    text-align: left;
    padding: 0;
    margin: 0;
}

li.menu-item a {
    padding: 2rem 4rem;
    font-size: x-large;
    border-radius: 0;
    border-bottom: 2px dashed #ccc;
    width: 100%;
    display: block;
    text-align: left;
}

li.menu-item-donate a {
    background-color: revert;
    color: black;
    box-shadow: none;
}

ul.sub-menu {
    display: block !important;
    flex-flow: column;
    border-radius: 0;
    position: revert !important;
    box-shadow: inset 0 3px 6px 2px #ccc;
    padding: 0;
    height: 0;
    overflow-y: scroll;
}

ul.sub-menu > li.menu-item > a {
    border-bottom: 2px dashed #aaa;
    padding-inline-start: 6rem;
    color: black;
    padding: 2rem 4rem;
}

li.menu-item:last-child > a,
ul.sub-menu > li.menu-item:last-child > a {
    border: 0;
}

img.mobile-submenu-arrow {
    display: block;
}

/* Content */
div#content-container {
    width: 100%;
    padding: 0;
}

.content-box {
    padding: 2rem 5rem;
    margin-top: var(--nav-menu-height)
}

.content-box.hero {
    margin-top: var(--nav-menu-height);
}

.hero-header-image {
    top: 4vw !important;
    width: 100% !important;
    height: 15rem !important;
}

.hero-header-text {
    width: 100%;
}

a.link-button {
    margin: 2rem;
    padding: 2rem;
    display: block;
    text-align: center;
}

/* About page */
div#about-page-container {
    display: table;
}

.child-page {
    height: revert;
}

.child-page-image {
    float: revert !important;
    width: 100%;
    height: 50vh;
}

.child-page-excerpt {
    max-width: 100%;
    padding: 2rem 0;
    text-align: center;
}

/* Projects */
.project-card {
    min-width: 100%;
}

.project-card-image {
    height: 45vw;
}

a.project-link {
    white-space: nowrap;
}

/* Contact */
div#contact-form {
    width: 100%;
    float: revert;
}

.volunteer-quotes-container {
    float: revert;
    width: 100%;
}

/* Carousel */
.fcab-carousel-container {
    background-color: whitesmoke;
    border-radius: 1rem;
}

.fcab-carousel {
    overflow-x: scroll !important;
}

.fcab-carousel-prev-button,
.fcab-carousel-next-button {
    display: none;
}

.fcab-carousel-item-wrapper {
    width: revert;
}

.fcab-carousel-item {
    opacity: 1;
    min-width: revert;
    margin: 1rem;
}
