/* Nav menu */
img#header-logo {
    display: none;
}

img#header-logo-mobile {
    display: revert;
    min-width: 6rem;
    margin: 2rem;
    left: -3rem;
    position: relative;
}

li.menu-item {
    margin: 0;
}

li.menu-item > a {
    padding: 1rem;
    margin: 1rem;
}

/* Content */
div#content-container {
    width: 100%;
    padding: 0;
}

.content-box {
    padding: 5rem 5rem;
}

.content-box.hero {
    top: -20vw;
}

.hero-header-image {
    top: 4vw !important;
}

.hero-header-text {
    width: 100%;
}

p.child-page-excerpt-text {
    max-height: 6vw;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    width: 100%;
    margin: 1rem auto;
}

.child-page-excerpt {
    max-width: 100%;
    padding: 1rem 3rem;
}

/* Projects */
.project-card {
    min-width: 40vw;
    flex: 0 1 50%;
}

/* Carousel */
.fcab-carousel-container {
    background-color: whitesmoke;
    border-radius: 1rem;
}

.fcab-carousel {
    overflow-x: scroll !important;
}

.fcab-carousel-prev-button,
.fcab-carousel-next-button {
    display: none;
}

.fcab-carousel-item-wrapper {
    width: revert;
}

.fcab-carousel-item {
    opacity: 1;
    min-width: revert;
    margin: 1rem;
}
